.container {
	max-width: 1200px;
	margin: 0 auto;
}

body {
    background-color: #333;
}
  
.header {
	position: relative;
	text-align: center;
	color:white;
}

.inner-header {
	width:100%;
	margin: 0;
	padding: 0;
}

.flex { 
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position:relative;
	width: 100%;
	height: 10vh;
	margin-bottom:-7px;
	min-height:100px;
	max-height:150px;
}

.content {
	position:relative;
	height:20vh;
	text-align:center;
	background-color: white;
}

/* Animation */

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}

.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
}

.nav a {
    text-decoration: none;
    color: white;
    text-transform: none;
    transition: 0.25s ease;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #141414;
    padding: 20px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.nav li {
    font-size: large;
    text-decoration: none;
    font-weight: 600;
    margin: 0 0.75em 0 0.75em;
}

.nav ul:hover a {
    color: #575757;
}

.nav ul:hover a:hover{
    color: lightseagreen;
    box-shadow: 0 2px 0 0 currentColor;
}

/*Aside styling*/
aside {
	color: white;
	width: auto;
	padding-left: 20px;
	height: auto;
	background-color: black;
	border-top-right-radius: 80px;
}
  
aside a {
	font-size: 16px;
	width: 100px;
	color: white;
	display: block;
	padding: 12px;
	padding-left: 30px;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	transition: color 0.3s ease;
}

aside a:hover {
	color: lightseagreen;
	background: white;
	outline: none;
	position: relative;
	background-color: white;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

aside p {
	font-size: 18px;
	margin: 0;
	padding: 40px 0;
}

/*Main styling*/
main {
	background-color: white;
}

.main-container {
	display: flex;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #333;
}

.main-content {
	margin-top: 1rem;
}

.main-content .main-p{
	color: white;
	font-size: large;
	text-align: justify;
	text-indent: 2rem;
}

.p-namelist {
	font-size: large;
	color: white;
}

.main-content ul li{
	padding-bottom: 1rem;
	text-decoration: none;
	color: white;
}

.avatar-img {
	float: left;
	padding-right: 1rem;
	height: 300px;
	width: auto;
	border-radius: 25%;
	transition: height 0.5s ease;
}

article {
	padding-left: 2rem;
	padding-right: 2rem;
}

form div {
	padding-bottom: 1rem;
}

.modal-triggers li label{
	cursor: pointer;
	transition: color 0.5s ease;
}

.modal-triggers li label:hover,
.modal-triggers a:hover {
	color: lightseagreen;
}

.modal-triggers a {
	text-decoration: none;
	color: white;
	transition: color 0.5s ease;
}

/*Footer styling*/
footer {
	background-color: #141414;
	color: white;
	padding: 2rem 1rem;
}

footer a {
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}

footer a:hover {
	color: lightseagreen;
}

.footer-header {
	margin-bottom: 2rem;
}

.footer-main {
	display: flex;
	margin-bottom: 2rem;
}

.footer-link-mail {
	color: lightseagreen
}

.footer-link-mail:hover {
	color: darkseagreen
}

.footer-column {
	flex-basis: 200px;
	flex-grow: 1;
	text-align: center;
}

.footer-column svg {
	height: 24px;
	width: auto;
	padding-right: 0.5rem;
}

.footer-heading {
	margin-bottom: 1rem;
}

.footer-link {
	display: flex;
	width: max-content;
	padding: 5px 10px;
	margin: 0 auto;
	align-items: center;
}

.footer-bottom {
	display: flex;
	align-items: center;
}

.footer-bottom svg:hover {
	fill: lightseagreen;
}

.copyright {
	margin-right: auto;
}

.footer-bottom svg {
	height: 50px;
	width: auto;
	transition: fill 0.5s ease;
}

svg {
	fill: white;
}

@media (max-width: 768px) {
	.avatar-img {
		height: 200px;
		width: auto;
	}

	.footer-main {
		flex-direction: column;
	}

	.waves {
		height:40px;
		min-height:40px;
	}

	.content {
		height:30vh;
	}

	h1 {
		font-size:24px;
	}
}

#modal_inner_lab2 {
	width: 70%;
	height: 90%;
}