.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.table-container p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

table, th, td {
	border: 1px solid;
	border-collapse: collapse;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

table td {
	width: 150px;
}

.empty-cell {
	border: none;
	background-color: grey;
}

.table-dayname {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.table-name {
	border: none;
}

th.empty-cell {
	background-color: white;
}

.end-lesson {
	background-color: green;
}

.practice-lesson {
	background-color: lightgreen;
}

.lecture-lesson {
	background-color: lightgoldenrodyellow;
}

.lab-lesson {
	background-color: lightblue;
}